<span class="badge badge-dark badge-evento">
  <span class="competencia">
    Lab
  </span>
  /
  <span class="estado">
    P
  </span>
  /
  <span class="notificaciones">
    <i class="fa fa-bell fa-fw"></i>
    <span class="hay-notificaciones" [ngClass]="'bg-danger'"></span>
  </span>
</span>

<br>

<span class="badge badge-dark badge-evento">
  <span class="competencia">
    Fam
  </span>
  /
  <span class="estado">
    S
  </span>
  /
  <span class="notificaciones">
    <i class="fa fa-bell fa-fw"></i>
    <span class="hay-notificaciones" [ngClass]="'bg-success'"></span>
  </span>
</span>
